<div class="blog-masthead">
    <div class="container">
        <nav class="nav blog-nav">
            <a class="nav-link active" href="{{ url('homepage') }}">Posts</a>
            <a class="nav-link" href="{{ url('admin_blog_post_create') }}">Admin</a>
        </nav>
    </div>
</div>